.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products {
    margin: 100px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

@media screen and (max-width: 1000px) {
    .shop {
        grid-template-columns: 3fr 1fr;
    }
    .products {
        grid-template-columns: 1fr;
    }
}
