.product {
    width: 300px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    padding: 7px;
    border-radius: 8px;
}

.product .name {
    font-size: 21px;
    text-align: center;
    color: black;
}

.product button {
    width: 100%;
    background-color: #ffe0b3;
    border-radius: 0 0 8px 8px;
    border: 0;
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product button:hover {
    background-color: orange;
}
