.sidebar {
    padding: 20px;
}

.sItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar button {
    width: 100%;
    padding: 5px;
    background-color: orange;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: teal;
}
